/*fonts start*/
@font-face{
		src: url(../fonts/inconsolata-regular.tff);
		font-family: inconsolata-regular ;
}

@font-face{
		src: url(../fonts/playfairdisplay-black.ttf);
		font-family: playfairdisplay-black ;
}

@font-face{
		src: url(../playfairdisplay-bold.ttf);
		font-family: playfairdisplay-bold ;
}

@font-face{
		src: url(../fonts/playfairdisplay-regular.ttf);
		font-family: playfairdisplay-regular ;
}

@font-face{
		src: url(../fonts/playfairdisplay-italic.ttf);
		font-family: playfairdisplay-italic ;
}

@font-face{
		src: url(../fonts/ubuntu-light.tff);
		font-family: ubuntu-light ;
}
/*fonts ends*/

/*common starts*/
body{
	margin: 0;
	font-family: "playfaredisplay", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*common ends*/

/*header starts*/

header{
	padding: 30px 0;
	/*border: 1px solid;*/
}

.container{
	margin: 0 auto;
	width: 90%;
	overflow: hidden;
	/*border: 1px solid;*/
}
.logo{
	width: 15%;
	float: left;
	margin: 10px 0;
}
.logo a{
	display: block;
}

.logo a img{
	width: 100%;
}
.menu {
	width: 65%;
	float: right;
}
.menu ul{
	list-style: none;
	float: right;

}
.menu ul li{
	float: left;
}
.menu ul li a{
	text-decoration: none;
	margin: 0 50px;
	display: inline-block;
	text-transform: uppercase;
	color: #626262;
	transition: .33s linear;
}

.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}

.menu ul li:last-child a{
	margin-right: 0;
}
/*header ends*/
/*banner starts*/
.banner{
	/*border: 1px solid;*/
} 
.b_img{
	
}
.b_img img{
	width: 100%;
}
/*banner ends*/
/*getaway starts*/
.getaway{
	padding: 30px 0;
}
.container2{
	margin: 0 auto;
	overflow: hidden;
	width: 80%;
	/*border: 1px solid;*/
}
.c_light{
	margin: 0;
	font-family: ubuntu, sans-serif;
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
}

.c_title{
	margin: 20px 0 30px;
	font-size: 30px;
	font-weight: 400;
}
.c_text{
	margin: 0;
	line-height: 24px;
}
.g_link{
	margin-top: 40px;
	display: block;
	color: #626262;
	text-decoration: none;
}

/*getaway ends*/
/*blog Starts*/
.blog{
	padding-bottom: 100px ;
}
.sb_item{
	margin-top: 70px;
	box-sizing: border-box;
	float: left;
	width: 47%;
	/*border: 1px solid red;*/
}
.sb_item:nth-child(even){
	margin-left: 6%;
	/*background-color: red;*/
}
.sb_img{
	margin-bottom: 20px;
}
.sb_img img{
	width: 100%;
}
/*blog ends*/
/*news letter stars*/
.newsletter{
	padding: 70px 0;
	background-color: #ddd;
}
.singup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	width: 338px;
	/*border: 1px solid;*/
	margin: 0 auto;
	position: relative;
}
.s_form input{
	font-family: "playfaredisplay", serif;
	font-size: 14px;
	/*font-weight: 400;*/
	color: #626262;
	width: 289px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background: transparent;
	padding-left: 5px;
	padding-right: 45px ;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background: transparent;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/*news letter ends*/
/*blog2 starts*/
blog2{}
.load{
	text-align: center;
}
.load button{
	margin-top: 100px;
	width: 165px;
	height: 60px;
	background-color: transparent;
	border: 1px splid #626262;
	font-family: "playfaredisplay" serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	cursor: pointer;
}
.load button:hover{
	background-color: #626262;
	color: #fff;

}
/*blog2 ends*/
/*footr starts*/
footer{
	background-color: #f3f3f3;
}
.foot{
	padding: 42px 0 47px;

}
.pages{
	padding-left: 55px;
	float: left;
	/*border: 1px solid;*/
}
.pages ul{
	padding: 0;
	font-size: 14px;
}
.pages ul li{
	list-style: none;
	display: inline-block;
}
.pages ul li a{
	padding: 0;
	color: #626262 ;
	text-decoration: none;
	transition: .33s linear;
}
.pages ul li a:last-child{
	margin-left: 20px;
}
.pages ul li a:hover{
	border-bottom: 1px solid #626262;
}
.social{
	/*border: 1px solid;*/
	float: right;
}
.social ul{
	float: right;
	display: block;
}
.social ul li{
	margin-right: 23px;
	display: block;
	list-style: none;
	float: left;
}
.social ul li:last-child{
	margin: 0;
}

/*footer ends*/

